<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<p th:text="${customer.getName()+', '+ customer.getYearOfBirth()}">VALUE</p>
<p th:if="${customer.getBooks().isEmpty()}">
  Человек пока не взял ни одной книги
</p>
<div th:if="${not customer.getBooks().isEmpty()}">
  <hr/>
  <b><label>Книги:</label></b>
  <p th:each="book : ${customer.getBooks()}">

    <span th:style="${book.isTimeOff() ? 'background-color:red' : 'color:black'}" th:text="${book.getTitle() + ', '
        + book.getAuthor() + ', '
        + book.getYear()}">book</span>
  </p>
</div>
<hr/>
<form th:method="GET" th:action="@{/customers/{id}/edit(id=${customer.getId()})}" >
    <input type="submit" value="Изменить данные человека"/>
</form>
<form th:method="DELETE" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
    <input type="submit" value="Удалить человека"/>
</form>
<hr/>
<a th:href="@{/customers}">К списку клиентов</a>
</body>
</html>